@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Poppins", sans-serif;
}

.scrollBar::-webkit-scrollbar{
  display: block;
  height: 13px;
  background-color: #cbd5e1;
  border-radius: 10px;
  cursor: pointer;
}
.scrollBar::-webkit-scrollbar-thumb{
  background-color: #8b5cf6;
  border-radius: 10px;
  cursor:pointer;
}

.scrollBarHidden::-webkit-scrollbar{
  display: none;
}

.bannerGradient{
  background-image: linear-gradient(to bottom,rgb(75, 85, 99, 0.5), rgb(75, 85, 99)), url('https://images.unsplash.com/photo-1551488831-00ddcb6c6bd3?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') ;
  background-size: cover;
  background-position: center;
}